<div class="story1">
<p class="story1p"><span style="color:blue">username</span> woke up to find him/herself in <span style="color:blue"><%= @story.flower %></span>land not too far from <span style="color:blue"><%= @story.place %></span>.</p>
</div>


<div class="story2">
<h4 class ="story2p"><span style="color:blue">username</span> slept through an apocolypse and could not find a <span style="color:blue"><%= @story.animal %></span> in site.</h4>
</div>

<div class="story3">
<h4 class ="story3p">After days and nights of eating <span style="color:blue"><%= @story.food %></span> during <span style="color:blue"><%= @story.created_at %></span>, <span style="color:blue">username</span> found a dirty <span style="color:blue"><%= @story.container %></span>.</h4>
</div>

<div class="story4">
<p class ="story4p"><span style="color:blue">username</span> thought it could liven up the <span style="color:blue"><%= @story.room %></span> so he/she went about cleaning it.</p>
</div>

<div class="story5">
</div>

<div class ="story6">
<p class="story6p">Suddenly a genie appeared!</p>
</div>

<div class ="story7">
<p class="story7p">The genie who has <span style="color:blue">Story</span> friends including <span style="color:blue"><%= @story.celeb %></span> said " <span style="color:blue">text</span> ".</p>
</div>

<div class ="story8">
<p class="story7p"><span style="color:blue">username</span> thought <span style="color:blue">adverb</span></p>
</div>

<div class ="story7">
<p class="story7p">but it was hard on a diet of just <span style="color:blue"><%= @story.flavor %></span> ...</p>
</div>

<div class="story4">
<h5>so <span style="color:blue">username</span> just brushed the genie off as a/an hallucination of <span style="color:blue"><%= @story.figment_of_i %></span>.</h5>
</div>

<div class="the_end">

</div>